.main_section {
    text-align: center;
    background-color: #0D0D0D;
    color: aliceblue;
}
.p1{
font-size: 20px;

}

.p2 {
    font-size: 24px;
    font-weight: bold;
   }

.p3 {
    font-size: 14px;
}