.body {
    overflow-x: hidden;
}
body {
    margin: 0;
    }

.nav_bar {
    background: #0D0D0D;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    }
.boss_logo {
    width: auto;
    height: 60px;
}
.search_icon {
    width: 30px;
    height: 30px;
}

li {
    list-style: none;
    display: inline-block;
    font-weight: 700;
    margin-right: 40px;
    cursor: pointer;
}
nav{
    display: none
}

button#toggleMenu {
    border: none;
    display: block;
    background: #0D0D0D;
    color: aliceblue;
    font-weight: bold;
    font-size: 9px;
}
nav.open {
    display: block;
}

nav li {
    display: block;
    padding: 7px 0;
    color: white;
}

.main_2 {
    text-align: center;
    background-color: #0D0D0D;
    color: aliceblue;
    padding: 0.875rem 0px;
}
.letter-spacing {
    letter-spacing: 9px;
}
.margin-button-14 {
    margin-bottom: 0.875rem;
}

.margin-button-36 {
    margin-bottom: 2.25rem;
}


.font-size-20 {
    font-size: 1.25rem;
}


.font-size-24 {
    font-size: 1.5rem;
    
}


.font-size-14 {
    font-size: 0.875rem;
}

.bold {
    font-weight: bold;
}

.button_1 {
    display: inline-block;
    padding: 10px 35px;
    background: #f8f8f8;
    border-radius: 25px;
    transition: opacity 0.3s ease-out;
    font-weight: bold;
    color: #242424;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}

.main_picture_1 {
    width: 100wv;
    height: 311px;
}
.main_picture_1 img {
    height: 100%;
}

.font-size-12 {
    font-size: 12px;
}

.title-container {
    background: #0D0D0D;
    color: #f8f8f8;
    padding: 5px 5px;
    line-height: 10px;
    display: inline-block;
    font-size: 10;
    margin-right: 10px;
}

.main_3 {
   margin-bottom: 30px;
}

.section_padding {
    padding: 0 20px;
}

.product_image {
    display: block;
    width: 50%;
    margin: 0 auto;
}
.square {
    width: 10px;
    height: 10px;
    display: inline-block;
}

.color_peach {
    background-color: darksalmon; 
}

.color_black {
    background-color: black; 
}

.color_gray {
    background-color: gray; 
}

.button_2 {
    font-size: 13;
    display: inline-block;
    padding: 10px 35px;
    background-color:#f8f8f8;;
    border-radius: 25px;
    transition: opacity 0.3s ease-out;
    font-weight: bold;
    color: #242424;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    height: auto;
    border: none;
    border: 1px solid #242424;
    margin: 15px;
}

.button_2_background {
    background-color: black;
    color: #f8f8f8;
}

.main_4 {
    background-color: #0D0D0D;
    color: #f8f8f8;
    text-align: center;
    padding: 0.875rem 0px 0px 0px ;
}

.font-size-28 {
    font-size: 1.75rem;
}

/*.main_pic_2 {
    width: 100wv;
    height: 311px;
}*/
.main_pic_2 img {
    width: 100%;
}

img {
max-width: 100%;
}
.footer_container {
    background-color: #0D0D0D;
    color: #8c8c8c;
    padding: 15px;
}
.contact_container {
    background-color: #242424;
    padding: 30px;
}

.blank_container {
    background-color: #242424;
    padding: 20px;
}

.line-container {
    background-color: #8c8c8c;
    margin: 0;
    color: #8c8c8c;
    height: 1px;
    border: none;
}

.ul-container {
    display: flex;
    flex-direction: column; 
    margin-top: 40px;
    padding-left: 0;
}
.li-margin {
    margin-bottom: 15px;
}

.location-container {
    display: flex;
    flex-direction: row;
    padding: 20px 15px;
}

.flag-img {
    width: 30px;
}

.margin-right {
    margin-right: 15px;
}

.end-container {
    display: flex;
    flex-direction: row;
    background-color: #0D0D0D;
    padding: 80px 15px 0px;
    color: #8c8c8c;
}