.body {
    overflow-x: hidden;
}
body {
    margin: 0;
    }
.nav_bar {
    background: #0D0D0D;
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    }
.bose_logo_desktop {
    display: none;
}
.boss_logo {
    width: auto;
    height: 60px;
}
.search_bar {
    display: none;
}
.search_icon {
    width: 30px;
    height: 30px;
}
li {
    list-style: none;
    display: inline-block;
    font-weight: 700;
    margin-right: 40px;
    cursor: pointer;
}
nav{
    display: none
}
button#toggleMenu {
    border: none;
    background: #0D0D0D;
    color: aliceblue;
    font-weight: bold;
    font-size: 9px;
}
nav.open {
    display: block;
}
nav li {
    display: block;
    padding: 7px 0;
    color: white;
}
.menu-links{
    text-decoration:none;
    color:white;
}
.main_2 {
    text-align: center;
    background-color: #0D0D0D;
    color: aliceblue;
    padding: 0.875rem 0px 0px;
}
.letter-spacing {
    letter-spacing: 9px;
    margin-left: 20px;
}
.margin-button-14 {
    margin-bottom: 0.875rem;
}
.margin-button-36 {
    margin-bottom: 2.25rem;
}
.font-size-20 {
    font-size: 1.25rem;
}
.font-size-24 {
    font-size: 1.5rem;
    
}
.font-size-14 {
    font-size: 0.875rem;
}
.bold {
    font-weight: bold;
}
.button_1 {
    display: inline-block;
    padding: 10px 35px;
    background: #f8f8f8;
    border-radius: 25px;
    transition: opacity 0.3s ease-out;
    font-weight: bold;
    color: #242424;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    border: none;
}
.main_picture_1 {
    height: 311px;
    width: 100%;
    margin-top: 20px;
}
.main_picture_1 img {
    height: 100%;
    
}
.font-size-12 {
    font-size: 12px;
}
.title-container {
    background: #0D0D0D;
    color: #f8f8f8;
    padding: 5px 5px;
    line-height: 10px;
    display: inline-block;
    font-size: 10;
    margin-right: 10px;
}
.main_3 {
   margin-bottom: 30px;
}
.section_padding {
    padding: 0 20px;
}
.product_image {
    display: block;
    width: 50%;
    margin: 0 auto;
}
.square {
    width: 10px;
    height: 10px;
    display: inline-block;
}
.color_peach {
    background-color: darksalmon; 
}
.color_black {
    background-color: black; 
}
.color_gray {
    background-color: gray; 
}
.button_2 {
    font-size: 13;
    display: inline-block;
    padding: 10px 35px;
    background-color:#f8f8f8;;
    border-radius: 25px;
    transition: opacity 0.3s ease-out;
    font-weight: bold;
    color: #242424;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 1rem;
    width: 100%;
    height: auto;
    border: none;
    border: 1px solid #242424;
    margin: 15px;
}
.button_2_background {
    background-color: black;
    color: #f8f8f8;
}
.main_4 {
    background-color: #0D0D0D;
    color: #f8f8f8;
    text-align: center;
    padding: 0.875rem 0px 0px 0px ;
}
.font-size-28 {
    font-size: 1.75rem;
}
/*.main_pic_2 {
    width: 100wv;
    height: 311px;
}*/
.main_pic_2 {
    width: 100%;
}
img {
    max-width: 100%;
}
.footer_container {
    background-color: #0D0D0D;
    color: #8c8c8c;
    padding: 15px;
}
.footer_container_1 {
    background-color: #0D0D0D;
    color: #8c8c8c;
    padding: 15px;
}
.contact_container {
    background-color: #242424;
    padding: 30px;
}
.blank_container {
    background-color: #242424;
    padding: 20px;
}
.line-container {
    background-color: #8c8c8c;
    margin: 0;
    color: #8c8c8c;
    height: 1px;
    border: none;
}
.line-container_1 {
    background-color: #8c8c8c;
    margin: 0;
    color: #8c8c8c;
    height: 1px;
    border: none;
}
.ul-container {
    display: flex;
    flex-direction: column; 
    margin-top: 40px;
    padding-left: 0;
}
.li-margin {
    margin-bottom: 15px;
}
.location-container {
    display: flex;
    flex-direction: row;
    padding: 20px 15px;
}
.flag-img {
    width: 30px;
}
.margin-right {
    margin-right: 15px;
}
.end-container {
    display: flex;
    flex-direction: row;
    background-color: #0D0D0D;
    padding: 80px 35px 0px;
    color: #8c8c8c;
}
.title_2_container {
    color: #f8f8f8;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2em;
}
.gray_Title {
    background-color: #e5e5e5;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 11px;
    font-weight: bold;
}
.shop {
    display: none;
}

@media (min-width: 800px) {
    .nav_bar {
        background-color: #0D0D0D;
        color: white;
        display: block;
        display: flex;
        align-items: self-end;
        padding-right: 50px;
        padding-left: 50px;
    }
    .nav_bar nav {
        display: block;
        margin-top: 34px;
    }
    .nav_bar ul {
        display:flex;
        justify-content: flex-end;
        align-content: flex-end;
   }
    .nav_bar button {
        display: none;
    }
    .nav_bar .boss_logo {
        display: none;
    
    }
    .nav_bar .bose_logo_desktop {
        width: auto;
        height: 77px;
        display: block;
        margin: 0px 60px 0px 30px;
    }
    .nav_bar .search_bar {
        display: block;
        border-radius: 25px;
        padding: 5px 120px 0px 10px;
        background-color:white;
        margin-top: 10px;
    }
    .nav_bar .li_padding {
        padding: 14px 20px;
        font-size: 14px;
        margin: 0px;
    }
    .nav_bar .ul_container {
        flex-direction: row;
        align-content: flex-end;
    }
    .main_2 {
        background-image: url('pictures/ben-mullin.jpg');
        background-size: 79%;
        background-repeat: no-repeat;
        height: 700px;
        background-size: cover;
        background-position: center;
    }
    .main_picture_1 {
        display: none;
    }
    .main_2_text {
        text-align: left;
        bottom: 23%;
        background-color: transparent;
        width: calc(60%);
        max-width: 990px;
        z-index: 10;
    }
    .letter-spacing{
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 8px;
    text-transform: uppercase;
    font-weight: bold;
    margin: 20px 20px 50px;
    }
    .section_padding .product_image {
        display: block;
        width: 100%;
        margin-bottom: 60px;
}
    .hide_line {
    display: none;
}
    .products_layout {
        display: flex;
        flex-direction: row;
    }
.main_3 .font-size-12 {
    font-size: 14px;
}
.main_3 .title-container {
    display: none;
}
.main_4 {
    background-image: url('pictures/ya1002449556_3.jpg');
    background-size: 79%;
    background-repeat: no-repeat;
    height: 700px;
    background-size: cover;
    background-position: center;
    margin-top: 90px;
}
.main_pic_2 {
    display: none;
}
.section .line-container {
    display: none;
}
.blank_container {
    display: none;
}
.footer_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 80px;
}
.footer_container_1 {
    padding-left: 275px;
    padding-right: 11px;
}
.end-container {
    padding: 0px 110px 0px;
}
.boss_logo {
    height: 70%;
    margin-right: 50px;
}
.style {font-size: 14px;
    display: flex;
    align-items: center;
    width: 100%;
    border-top: solid 1px white;
}
    .line-container_1 {
        display: none;
    }
    .search_icon {
        display: none;
    }
    .main_2_text {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: right;
        text-align: -webkit-center;
        float: left;
        margin-top: 311px;
        margin-left: -124px;
    }
    .main_4_text {
        display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: right;
    text-align: -webkit-center;
    float: left;
    margin-top: 311px;
    margin-left: 34px;
    } .button_2 {
        width: 80%;
        height: 31px;
        border: none;
        margin: 7px;
        padding-top: 10px;
        padding-bottom: 10;
    }
    .bottom_m {
        padding-bottom: 46px;
    }
    .bottom_m_2 {
        padding-bottom: 16px;
    }
    .main_4_text .font1{
        font-size: 30px;
    }
    .main_4_text .font2{
        font-size: 20px;
    }
    .main_2 .font-size-20 {
        font-size: 2rem;
    }
    .main_2 .font-size-24 {
        font-size: 1.7rem;
    }
    .main_2 .font-size-14 {
        font-size: 1rem;
    }
    .shop {
        display: block;
    }
    i
}